<div class="row">
  <div class="col">
    <h2>{{title}}</h2>
    <form name="form" #editarServicio="ngForm" (ngSubmit)="editarServicio.form.valid && onSubmit()">
      <div class="form-group">
        <label for="nNombre">Nombre</label>
        <input type="text" class="form-control" name="nNombre" [(ngModel)]="servicio.titulo" #nNombre="ngModel" required>
      </div>
      <div class="form-group">
        <label for="nDescription">Descripción</label>
        <textarea rows="10" class="form-control" name="nDescription" [(ngModel)]="servicio.descripcion" #nDescription="ngModel" required></textarea>
      </div>
      <div class="form-group">
        <input class="btn btn-submit mr-2 mb-3 mb-md-0" type="submit" value="Aplicar">
      </div>
    </form>
  </div>
</div>