<main class="container">
  <header class="row">
    <div class="col text-center">
      <h1>Servicios</h1>
    </div>
  </header>
  <nav class="row">
    <ul class="col nav">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/todos']" [routerLinkActive]="['link-activo']">Todos</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/autos']" [routerLinkActive]="['link-activo']">Autos</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/salud']" [routerLinkActive]="['link-activo']">Salud</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/hogar']" [routerLinkActive]="['link-activo']">Hogar</a></li>
    </ul>
  </nav>
  <admin></admin>
</main>