@import '../sass/partials/variables';

h1 {
  line-height: 1;
  margin-top: 15px;
}
.nav {
  background-color: $c-secundary;
  li {
    a {
      &:hover, &.link-activo {
        color: $c-black;
      }
    }
  }
}