<div class="row">
  <div *ngFor="let servicio of servicios" class="col-12 col-sm-6 col-md-4">
    <div class="clearfix box-servicio">
      <div class="box-servicio-content">
        <h5>{{servicio.titulo}}</h5>
        <p>{{servicio.descripcion}}</p>
      </div>
      <div class="box-servicio-footer">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/servicio-detalle', servicio.id]">Editar</a></li>
          <li class="nav-item"><a class="nav-link">Eliminar</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>