@import '../../../sass/partials/variables';

.search-component {
  border-radius: 5px;
  border: 1px solid #ccc;
  form {
    .header-form,
    .body-form,
    .footer-form {
      padding: 15px;
    }
    .header-form {
      padding-bottom: 0;
      h4 {
        margin: 0;
      }
    }
    .footer-form {
      background-color: #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      .btn {
        width: 100%;
        display: block;
      }
      @media (min-width: $break-small) {
        .btn {
          width: auto;
          display: inline-block;
        }
      }
    }
  }
}