<div class="search-component">
  <form>
    <div class="header-form">
      <h4>Servicio</h4>
    </div>
    <div class="body-form">
      <label for="nNombre">Nombre</label>
      <input type="text" name="nNombre">
      <label for="nDescription">Descripción</label>
      <textarea rows="4" type="text" name="nDescription"></textarea>
    </div>
    <div class="footer-form">
      <input class="btn btn-submit mr-2 mb-3 mb-md-0" type="submit" value="Grabar">
      <input class="btn btn-cancel" type="button" value="Cancelar">
    </div>
  </form>
</div>
