// COLORS
// Basic colors
$c-white: #ffffff;
$c-black: #000000;
$c-transparent: transparent;

$c-primary: #4c4c4c;
$c-secundary: #e3e3e3;

// Font Size
$font: inherit;
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-20: 20px;
$font-24: 24px;
$font-30: 30px;
$font-40: 40px;
$font-60: 60px;

// Font Weight
$fw-thin: 100;
$fw-light: 200;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-ultra-bold: 900;

// Screen sizes
$break-xxxsmall: 375px;
$break-xxsmall: 414px;
$break-xsmall: 480px;
$break-small: 768px;
$break-medium: 992px;
$break-xmedium: 1020px;
$break-large: 1200px;
$break-xlarge: 1820px;

// Path's
$url-images: '/assets/images/';