body {
  color: $c-primary;
  font-size: $font-15;
  font-weight: $fw-normal;
  background-color: $c-white !important;
}
a {
  color: inherit;
  &:hover, &:focus, &:link, &:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: $fw-bold;
}
h1 {
  font-size: $font-30
}
h2 {
  font-size: $font-24
}
h3 {
  font-size: $font-20
}
h4 {
  font-size: $font-17
}
h5 {
  font-size: $font-14
}
h6 {
  font-size: $font-13
}
p {
  margin-top: 0;
  margin-bottom: 5px;
}
label,
textarea,
input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}
input, button {
  outline: none;
}