.btn {
  border-radius: 3px;
  &-submit {
    color: green;
    border-color: green;
    &:hover {
      color: white;
      background-color: green;
    }
  }
  &-cancel {
    color: red;
    border-color: red;
    &:hover {
      color: white;
      background-color: red;
    }
  }
}