@import './buttons';

.box-servicio {
  height: 270px;
  max-height: 270px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  &-content, &-footer {
    padding: 15px;
  }
  &-content {
    height: 60%;
  }
  &-footer {
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    .nav-link {
      padding-left: 10px;
      padding-right: 10px;
      color: #007bff !important;
    }
  }
  @media (min-width: $break-medium) {
    height: 190px;
    max-height: 190px;
  }
}